body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--main-text-color);
  background-color: var(--bgc-white);
}

.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
