<section class="section customers">
  <div class="container customers__container">
    <div class="customer__title-box">
      <h2 class="section__title customers__title">What our Customers Say</h2>
      <p class="section__description customers__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <ul class="customers__list">
      <li class="customers__item">
        <p class="customers__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers__box">
          <img
            srcset="
              ./images/customers/pic1@1x.png 1x,
              ./images/customers/pic1@2x.png 2x
            "
            src="./images/customers/pic1@1x.png"
            alt="photo of Sumith Shah"
            width="48"
            height="48"
          />
          <div class="customer__information">
            <h3 class="customers__name">Sumith Shah</h3>
            <p class="customers__job">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers__item">
        <p class="customers__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers__box">
          <img
            srcset="
              ./images/customers/pic2@1x.png 1x,
              ./images/customers/pic2@2x.png 2x
            "
            src="./images/customers/pic2@1x.png"
            alt="photo of Sumith Shah"
            width="48"
            height="48"
          />
          <div class="customer__information">
            <h3 class="customers__name">Sumith Shah</h3>
            <p class="customers__job">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
