<section class="section offerings" id="about">
  <div class="container offerings__container">
    <div class="offerings__thumb">
      <h2 class="section__title">What’s Special About Our Offerings</h2>
      <p class="section__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
    <ul class="offerings__list">
      <li class="offerings__item">
        <svg class="offerings__icon-rocket"></svg>
        <h3 class="offerings__subtitle">Fastest Delivery</h3>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="offerings__item">
        <svg class="offerings__icon-click"></svg>
        <h3 class="offerings__subtitle">Easy to order</h3>
        <p class="offerings__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <div class="offerings__order-cont">
      <button
        class="order-button order-button--white"
        type="button"
        data-modal-open-offerings
      >
        Order Now
      </button>
      <a class="offerings__link" href="#"
        >Read More <svg class="offerings__read-more"></svg
      ></a>
    </div>
  </div>
</section>
